@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Oswald", sans-serif;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/*PRELOADER*/
.pagePreloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  transition: 1.6s;
}

.preloader__flex {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.preloader__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 150px;
  opacity: 0;
  font-size: 70px;
  transition: 0.8s, transform 1.8s, opacity 1s;
  font-family: "MagMedium", sans-serif;
}

.preloader__content.active {
  opacity: 1;
  transform: translateY(0);
}

.pagePreloader.done .preloaderText.active {
  transition: transform 0.8s, opacity 1s;
  opacity: 0;
}

.pagePreloader.done .preloaderText_info {
  transition: transform 0.8s, opacity 0.5s;
  opacity: 0;
}

.pagePreloader.done .preloaderText_info .div_opacity {
  transition: opacity 0.5s;
  opacity: 0;
}

.preloader__logo img {
  max-width: 100%;
  width: 134px;
  text-align: center;
  height: auto;
}

.preloaderText {
  margin-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s 0.4s, opacity 0.9s 0.4s;
}

.preloaderText.active {
  transform: translateY(0);
  opacity: 1;
}

.preloaderText .new {
  opacity: 0;
}

.preloaderText_info .new {
  opacity: 0;
}

.preloaderText_info {
  opacity: 0;
  margin-top: 8px;
  font-size: 21px;
  font-weight: 500;
  color: #F24C21;
  transition: transform 1s;
}

.preloaderText_info .div_opacity {
  transition: opacity 0.3s ease 0.1s;
  opacity: 1;
}

.pagePreloader.done {
  opacity: 0;
  visibility: hidden;
}

/*HEADER*/
.header {
  padding-top: 55px;
  min-height: 200px;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  flex: 0 1 392px;
  padding-right: 20px;
  cursor: pointer;
}

.logo-img {
  width: 550px;
  margin-left: -92px;
  transition: opacity 0.8s, transform 0.8s;
  opacity: 0;
  transform: translateY(-20px);
}

.logo-img._active {
  transform: translateY(0);
  opacity: 1;
}

.header__contacts {
  padding-top: 40px;
  padding-right: 10px;
  flex: 0 0 500px;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.8s 0.4s, transform 0.8s 0.4s;
  transform: translateY(-20px);
  opacity: 0;
}

.header__contacts._active {
  opacity: 1;
  transform: translateY(0);
}

.header__contacts a {
  font-family: inherit;
  font-weight: 300;
  font-size: calc(16px + 15 * ((100vw - 320px) / 1600));
  color: black;
  transition: 0.2s;
}

.header__contacts .header__mail:hover {
  color: #F24C21;
}

.header__phone {
  padding-bottom: 10px;
}

/* Button down */
.button__down {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s, opacity 1.5s 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.down-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #F24C21;
  border-left: 2px solid #F24C21;
  margin-bottom: 10px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.button__down:hover .down-link {
  transform: rotate(-45deg) scale(1.1);
}

.button__down._active {
  opacity: 1;
  visibility: visible;
  transition: none;
  animation: 2s buttonAnim 0.5s;
}

.button__down.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes buttonAnim {
  from {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.3);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}
/* INTRO */
.intro {
  margin-top: 55px;
  opacity: 0;
  visibility: hidden;
}

.intro__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 22px;
  font-weight: 300;
  text-align: left;
}

.intro__item {
  flex-basis: 30%;
  transition: opacity 0.8s 0.6s, transform 0.8s 0.6s;
  opacity: 0;
}

.intro__item:nth-child(2) {
  transition-delay: 0.8s;
}

.intro__item:nth-child(3) {
  transition-delay: 1s;
}

.intro__wrapper._active .intro__item {
  opacity: 1;
}

.intro__title {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 40px;
}

.intro__title li {
  display: inline-block;
  align-items: center;
  position: relative;
}

.intro__text {
  padding-right: 94px;
  line-height: 190%;
}

.intro__item:last-child .intro__text {
  padding-right: 22px;
}

/* PROJECT */
.project {
  margin: 150px 0;
  position: absolute;
  width: 100%;
  top: 110px;
  opacity: 0;
  visibility: hidden;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
}

.project__content {
  flex: 0 0 50%;
}

.project__img {
  flex: 0 0 45%;
}

.project__img img {
  max-width: 100%;
  margin: 35px 0 0 19%;
}

.project__title {
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 40px;
}

.project__content-img {
  max-width: 100%;
  width: 90%;
  margin-left: -5px;
  margin-bottom: 10px;
}

.project__info {
  width: 90%;
  padding-right: 15px;
  line-height: 170%;
}

.project__wrapper.prototype {
  flex-direction: row-reverse;
}

.project__content.prototype {
  flex-basis: 39%;
}

.project__img.prototype {
  flex-basis: 50%;
}

.project__img.prototype img {
  margin: 40px 20% 0 0;
}

.project__content.prototype .project__info {
  padding-right: 0;
}

.project__info p {
  margin-top: 10px;
}

.production__info {
  font-size: 20px;
  font-weight: 300;
  line-height: 190%;
}

.production__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.production__media {
  margin-top: 75px;
  box-shadow: 0 0 4px 0 #000;
  border-radius: 5px;
  overflow: hidden;
  flex: 0 0 60%;
}

.production {
  margin: 150px 0;
  position: absolute;
  width: 100%;
  top: 110px;
  opacity: 0;
  visibility: hidden;
}

.prototypes {
  margin: 150px 0;
  position: absolute;
  width: 100%;
  top: 110px;
  opacity: 0;
  visibility: hidden;
}

.footer {
  font-family: "Oswald", sans-serif;
  position: absolute;
  bottom: 0;
  min-height: 60px;
  background-color: #e1e1e1;
  margin: 0 auto;
  z-index: 90;
  width: 100%;
}

.footer__content {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 620px;
  align-items: center;
}

.footer__copyright {
  font-size: 25px;
}

.footer__content a {
  font-size: 25px;
  color: #000;
}

/* Vertical Slider Animation */
html {
  overflow: hidden;
}

.production,
.prototypes,
.intro,
.project {
  transition: 0.8s;
  transform: translateY(10%);
}

.production.hidden,
.prototypes.hidden,
.intro.hidden,
.project.hidden {
  transform: translateY(-10%);
  opacity: 0;
  visibility: hidden;
}

.intro.opened,
.prototypes.opened,
.project.opened,
.production.opened {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* MODAL */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  font-family: "Oswald", sans-serif;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.popup {
  width: 500px;
  height: 680px;
  max-width: 100%;
  max-height: 100%;
  padding: 30px 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  overflow: auto;
}

.close__popup {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  cursor: pointer;
  font-size: 42px;
  font-weight: 300;
  color: #000;
}

.popup__content {
  width: 100%;
}

.popup__content-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #000;
}

.popup__content-title h2 {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 400;
}

.form {
  padding: 30px 40px 0;
  color: #000;
}

.form__control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  color: #000;
}

.form__control label {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 400;
  color: #000;
}

.form__control input,
.form__control textarea {
  border: 2px solid #4a4a4a;
  border-radius: 4px;
  display: block;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: inherit;
  color: #000;
  outline: none;
}

.form__control textarea {
  resize: none;
}

.form__control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  color: #e74c3c;
}

.form button {
  background-color: #F24C21;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 30px;
  width: 100%;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: lighter;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
  transition: transform 0.5s;
}

.form button:hover {
  transform: translateY(-2px);
}

.form__control.error input {
  border-color: #e74c3c;
}

.form__control.error small {
  visibility: visible;
}

.modal__success {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 320px;
  background-color: #fff;
  top: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 30px 20px 10px;
  z-index: 111;
  border-radius: 10px;
  text-align: center;
  font-family: "MagMedium", sans-serif;
}

.success__close {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  cursor: pointer;
  font-size: 62px;
  font-weight: 300;
  color: #000;
}

.success__img {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 140px;
  height: 140px;
}

.success__title {
  font-size: 40px;
  margin-bottom: 20px;
}

.success__subtitle {
  font-size: 28px;
  color: #F24C21;
}

/* Modal button */
.modal-btn {
  font-family: "Oswald", sans-serif;
  position: fixed;
  bottom: 30px;
  left: 15px;
  font-weight: 300;
  font-size: 26px;
  background-color: #fff;
  border: 1px solid #F24C21;
  border-radius: 20px;
  color: #F24C21;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
  z-index: 80;
  transition: color 0.3s, background-color 0.3s, transform 0.8s 0.2s, opacity 0.8s 0.2s;
  opacity: 0;
  transform: translateY(20px);
}

.modal-btn:hover {
  color: #fff;
  background-color: #F24C21;
}

.modal-btn._active {
  opacity: 1;
  transform: translateY(0);
}

.modal-btn.btn-mobile {
  display: none;
  width: 44px;
  height: 44px;
  font-size: 0;
  padding: 0;
  letter-spacing: 0;
  border-radius: 50%;
}

.modal-btn .iconModal {
  width: 24px;
  height: 24px;
  fill: #F24C21;
}

.modal-btn.btn-mobile:hover .iconModal {
  fill: #fff;
}

@media (max-width: 1650px) {
  .logo-img {
    margin-left: -25px;
  }
}
@media (max-width: 1370px) {
  .logo-img {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .header__contacts {
    flex-basis: 450px;
  }

  .intro__text {
    font-size: 22px;
  }

  .project__info {
    font-size: 22px;
  }
}
@media (max-width: 1130px) {
  .logo-img {
    max-width: 100%;
    height: auto;
  }

  .header__contacts {
    flex-basis: 430px;
    padding-top: 30px;
  }

  .intro__title {
    text-align: center;
    font-size: 32px;
  }

  .project__title {
    font-size: 32px;
  }

  .intro__text {
    text-align: center;
    padding: 0 35px;
    font-size: 22px;
  }

  .intro__item:last-child .intro__text {
    padding-right: 35px;
  }

  .intro__wrapper {
    flex-direction: column;
  }

  .intro__item {
    margin-bottom: 40px;
  }

  .intro__item__content {
    width: 80%;
    margin: 0 auto;
  }

  .intro__title {
    margin: 0 0 20px;
    text-align: left;
  }

  .intro__text {
    text-align: left;
  }

  .modal-btn.btn-pc {
    display: none;
  }

  .modal-btn.btn-mobile {
    display: inline-block;
  }
}
@media (max-width: 930px) {
  .header__contacts {
    flex-basis: 380px;
  }

  .intro__text {
    padding: 0;
  }

  .project__wrapper {
    flex-direction: column;
  }

  .project__wrapper.prototype {
    flex-direction: column;
  }

  .project__content,
.project__img {
    flex-basis: 100%;
  }

  .project__img img,
.project__img.prototype img {
    width: 50%;
    margin: 50px auto;
    display: block;
  }
}
@media (max-width: 850px) {
  .header__contacts {
    flex-basis: 350px;
    padding-top: 0;
  }

  .header__content {
    align-items: center;
  }
}
@media (max-width: 790px) {
  .header__contacts a {
    font-size: 18px;
  }

  .header__contacts {
    justify-content: flex-end;
    flex-basis: 32.6515151515%;
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .header {
    padding-top: 25px;
    min-height: 100px;
  }

  .preloaderText {
    font-size: 60px;
  }

  .preloaderText_info {
    font-size: 20px;
  }

  .form__control input,
.form__control textarea {
    border-width: 1px;
  }

  .project__img,
.project__img.prototype {
    object-fit: cover;
  }
}
@media (max-width: 460px) {
  .intro__item__content {
    width: 100%;
    margin: 0 auto;
  }

  .preloaderText {
    font-size: 40px;
  }

  .preloaderText_info {
    font-size: 16px;
  }

  .intro__text,
.project__info {
    font-size: 20px;
  }

  .modal-btn {
    left: unset;
    right: 15px;
  }
}
@media (max-width: 400px) {
  .logo-img {
    width: 80px;
  }

  .form {
    padding: 30px 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
